{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Order #{{ order.id }}</h2>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₹{{ item.price }}</td>
                    <td>₹{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Order Info</h5>
                <div class="mt-3">
    <h6>Order Tracking</h6>
    <div class="d-flex justify-content-between mb-1">
        <span>Pending</span>
        <span>Confirmed</span>
        <span>Shipped</span>
        <span>Delivered</span>
    </div>
    <div class="progress">
        {% if order.status == 'pending' %}
            <div class="progress-bar bg-warning" style="width:25%">Pending</div>
        {% elif order.status == 'confirmed' %}
            <div class="progress-bar bg-info" style="width:50%">Confirmed</div>
        {% elif order.status == 'shipped' %}
            <div class="progress-bar bg-primary" style="width:75%">Shipped</div>
        {% elif order.status == 'delivered' %}
            <div class="progress-bar bg-success" style="width:100%">Delivered</div>
        {% else %}
            <div class="progress-bar bg-danger" style="width:100%">Cancelled</div>
        {% endif %}
    </div>
</div>
                <p>Total:
                    <strong>₹{{ order.total_price }}</strong>
                </p>
                <p>Date:
                    {{ order.created_at|date:"d M Y" }}
                </p>
                {% if order.address %}
                <p>Deliver to:
                    {{ order.address.full_name }},
                    {{ order.address.city }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<a href="{% url 'orders:my_orders' %}"
   class="btn btn-outline-secondary mt-3">
    Back to My Orders
</a>

{% endblock %}